* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


:root {
    --darkBlack: rgb(23, 23, 25);
    --black: rgba(54, 52, 55, 1);
    --yellow: rgba(238, 242, 209, 1);
    --pink: rgba(220, 184, 222, 1);
    --green: rgba(148, 212, 177, 1);
    --blue: rgba(172, 230, 255, 1);
    /* unit conversions */

    --hu: calc(100vh / 1080);
    --wu: calc(100vw / 1920);
}

.Container {
    display: flexbox;
    background-color: var(--darkBlack);
    height: 100vh;
    width: 100%;
}

/* header */
.TitleContainer {
    max-width: 100vw - 100px;
    display: flex;
    flex-direction: row;

}

.Title {
    display: flex;
    height: calc(var(--hu) * 135);
    width: calc(var(--wu) * 1450);
    background-color: var(--green);
    color: var(--black);
    border-radius: 0px 0px 15px 0px;
    font-size: 9vh;
    font-weight: 700;
}

.Title span {
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    margin-left: 4vw;
}

.Logo {
    display: flex;
    background-color: var(--darkBlack);
}

/* content */
.ContentContainer {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

/* itemList */
.ItemList {
    display: flex;
    flex-direction: column;
    background-color: rgba(54, 52, 55, 1);
    height: calc(var(--hu) * 885);
    width: calc(var(--wu) * 1090);
    border-radius: 15px;

    margin-left: 1.5vw;

    padding-top: 13px;
    /* padding-bottom: 13px ; */
    overflow-y: auto;
}

::-webkit-scrollbar {
    background-color: orange;
    border-radius: 5px;
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: var(--blue);
    border-radius: 5px;
    border: 3px solid var(--blue);
}

::-webkit-scrollbar-thumb {
    background-color: var(--black);
    border-radius: 10px;
    border: 3px solid var(--blue);
}



.Item {
    display: flex;
    background-color: var(--yellow);
    height: calc(var(--hu) * 125);
    width: calc(var(--wu) * 1035);
    border-radius: 10px;
    margin: auto;
    margin-bottom: 13px;
    align-items: center;
    text-align: center;
    overflow-x: visible;
}

.Item:hover {
    /* height: calc(var(--hu) * 155); */
    /* width: calc(var(--wu) * 1035); */
    /* transition-delay: 100ms; */
    background-color: var(--pink);
    transition: 500ms;
}

.CheckBox {
    display: flex;
    /* position: absolute; */
    margin-left: 5px;
    min-height: 25px;
    min-width: 25px;
    background-color: var(--blue);
    border: 3px solid var(--black);
    border-radius: 5px;
}

.ItemListItemName {

    display: flex;
    height: calc(var(--hu) * 56);
    width: calc(var(--wu) * 390);

    color: var(--black);
    text-align: center;
    vertical-align: baseline;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 25px;
}

.ItemListItemDescription {

    display: flex;
    background-color: var(--black);
    color: var(--yellow);
    height: calc(var(--hu) * 102);
    max-width: calc(var(--wu) * 463);
    min-width: calc(var(--wu) * 463);
    border-radius: 10px;

    padding-left: 5px;
    font-size: 3vh;

}

.ItemListItemCost {

    display: flex;
    background-color: var(--black);
    color: var(--yellow);
    height: calc(var(--hu) * 102);
    width: calc(var(--wu) * 147);
    margin: 15px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.AddNewItemButton {
    display: flex;
    position: fixed;
    translate: 47vw -15vh;
    z-index: 2;
    height: 55px;
    width: 55px;
    background-color: var(--black);
    color: var(--blue);
    border: 3px solid var(--blue);
    border-radius: 10px;
    justify-content: center;
    align-items: center;

    padding-bottom: 12px;
    font-size: 50px;

    transition: 0.3s;
}

.AddNewItemButton:hover {
    height: 65px;
    width: 65px;
    translate: calc(47vw - 5px) calc(-15vh - 5px);
}

/* viewContainers */
.ItemViewContainer,
.NewItemViewContainer,
.EditItemViewContainer,
.CostViewContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--pink);
    height: calc(var(--hu) * 885);
    width: calc(var(--wu) * 725);
    border-radius: 15px;
    margin-left: 2.5vw;
}

.NameAndCostContainer {
    display: flex;
    flex-direction: row;
    background-color: var(--black);
    height: calc(var(--hu) * 125);
    width: calc(var(--wu) * 725);
    margin-top: calc(var(--hu) * 33);

    align-items: center;
    justify-content: center;
}

.CostViewLabelAndCostContainer {
    display: flex;
    flex-direction: row;
    background-color: var(--pink);
    height: calc(var(--hu) * 125);
    width: calc(var(--wu) * 725);
    margin-top: calc(var(--hu) * 33);

    align-items: center;
    justify-content: center;
}

/* ViewContainer Elements */

.ItemName,
.EditItemName,
.NewItemName {
    display: flex;
    width: calc(var(--wu) * 426);

    color: var(--pink);

    font-size: 4vh;
}






.NewItemName label , .EditItemName label{
    display: none;
}

.NewItemName input , .EditItemName input{
    background-color: var(--black);
    width: 100%;
    color: var(--pink);
    border: none;
    font-size: 4vh;
}

.NewItemName input::placeholder , .EditItemName input::placeholder{
    color: var(--pink);
}

.ItemCost,
.NewItemCost,
.EditItemCost {
    display: flex;
    background-color: var(--pink);
    color: var(--black);
    height: calc(var(--hu) * 102);
    width: calc(var(--wu) * 248);
    border-radius: 10px;
    justify-content: center;
    align-items: center;

    font-size: 4vh;
    font-weight: 600;
}

.NewItemCost label , .EditItemCost label{
    display: none;
}

.NewItemCost input , .EditItemCost input{
    background-color: var(--pink);
    width: 100%;
    text-align: center;
    font-size: 4vh;
    font-weight: 600;
    border: none;
    border: none;
}

.NewItemCost input::placeholder , .EditItemCost input::placeholder{
    color: var(--black);
}

.ItemDescription,
.NewItemDescription,
.EditItemDescription {
    display: flex;
    height: calc(var(--hu) * 387);
    width: calc(var(--wu) * 675);
    padding: 5px;
    color: var(--black);

    font-size: 3vh;
    font-weight: 450;
}

.NewItemDescription label , .EditItemDescription label{
    display: none;
}

.NewItemDescription textarea , .EditItemDescription textarea{
    background-color: var(--pink);
    color: var(--black);
    border: none;
    width: 100%;

    font-size: 3vh;
}

.NewItemDescription textarea::placeholder , .EditItemDescription textarea::placeholder {
    color: var(--black);
}


.ItemLink,
.NewItemLink,
.EditItemLink {
    display: flex;
    height: calc(var(--hu) * 75);
    width: calc(var(--wu) * 725);
    background-color: var(--black);
    color: var(--blue);
    margin-top: 3vh;

    text-align: center;
    justify-content: center;

    
    font-size: 3vh;

}

.NewItemLink label , .EditItemLink label{
    display: none;
}

.NewItemLink input , .EditItemLink input{
    margin-top: 0px;
    border: none;
}

.NewItemLink input::placeholder , .EditItemLink input::placeholder{
    color: var(--blue)
}


.OptionBar {
    display: flex;


    flex-direction: row;
    height: calc(var(--hu) * 77);
    width: calc(var(--wu) * 674);
    margin: auto;
    margin-bottom: 0px;
    background-color: var(--black);

    border-radius: 10px 10px 0px 0px;

    color: var(--yellow);

    font-weight: 500;

}


.OptionBarButton1 {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.OptionBarButton1 button {
    background-color: var(--black);
    border: none;
    color: var(--yellow);
    padding: 5px;
}


.OptionBarButton2 {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.OptionBarButton2 button {
    background-color: var(--black);
    border: none;
    color: var(--yellow);
    padding: 5px;
}


.OptionBarButton1 button:hover {
    border: 3px solid var(--yellow);
    border-radius: 10px;
}

.OptionBarButton2 button:hover {
    border: 3px solid var(--yellow);
    border-radius: 10px;
}

/* CategoryList */

.ViewItemCategory {
    display: flex;
    height: calc(var(--hu) * 75);
    width: calc(var(--wu) * 725);
    background-color: var(--black);

    color: var(--pink);

    align-items: center;
    padding-left: 10px;

}

.ItemCategoryListContainer {
    display: flex;
    height: calc(var(--hu) * 75);
    width: calc(var(--wu) * 725);
    background-color: var(--black);

    color: var(--pink);
    
    padding-left: 10px;
}

.CategoryLabel {
    width: calc(100% - calc(var(--wu) * 306));
    align-items: center;
}

.AddCategoryButton {
    display: flex;
    width: calc(var(--wu) * 306);
    font-size: 2vh;
    text-align: center;
    align-items: center;
}
.AddCategoryButton button {
    background-color: var(--black);
    color: var(--yellow);
    border: 2px solid var(--yellow);
    padding: 3px;
    border-radius: 10px;
}
.ItemCategoryList::-webkit-scrollbar {
    background-color: orange;
    border-radius: 5px;
    width: 10px;
}

.ItemCategoryList::-webkit-scrollbar-track {
    background-color: var(--black);
    border-radius: 5px;
    border: 3px solid var(--black);
}

.ItemCategoryList::-webkit-scrollbar-thumb {
    background-color: var(--black);
    border-radius: 10px;
    border: 3px solid var(--blue);
}

.ItemCategoryList {
    display: flex;
    flex-direction: column;
    position: absolute;
    box-sizing: content-box;
    width: calc(var(--wu) * 350);

    height: fit-content;
    max-height: calc(var(--hu) * 350);
    overflow-y: auto;

    transform: translateY(calc(-100% + 3px)) translateX(calc(calc(var(--wu) * 725) - calc(var(--wu) * 400)));

    background-color: var(--black);

    list-style-type: none;

    padding-top: 10px;

    border-radius: 15px 15px 0px 0px;

    border: 5px solid var(--black);
}

.ItemCategoryList li {
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.ItemCategory {
    display: flex;
    flex-direction: row;
    background-color: var(--yellow);
    /* font-size: 3px; */
    padding: 5px;
}

.ItemCategoryList li:first-child {
    border-radius: 10px 10px 0px 0px;
}
.ItemCategoryList li:last-child {
    border-radius: 0px 0px 10px 10px;
}
.ItemCategory label {
    display: none;
}

.ItemCategoryEditInput {
    display: flex;
    background-color: var(--yellow);
    color: var(--black);
    width: 75%;
    border: none;
    font-size: 2.5vh;
}

.ItemCategoryEditInput::placeholder {
    color: var(--black);
}

.ItemCategoryDeleteButton {
    display: flex;
    background-color: var(--black);
    font-size: 3vh;
    border-radius: 10px;
}

.CategoryLabel {
    display: flex;

}

/* for cost View */
.TotalCostLabel {
    display: flex;
    width: calc(var(--wu) * 262);
    height: 100%;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    font-weight: 400;
}
.TotalCost {
    display: flex;
    width: calc(var(--wu) * calc(725 - 262));
    height: 100%;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    font-weight: 600;

    background-color: var(--black);
    color: var(--pink);

    border-radius: 10px 0px 0px 10px;
}



.CostPerCategoryList {

    display: flex;

    margin: auto;
    margin-bottom: 0px;

    height: calc(var(--hu) * 680);
    width: calc(var(--wu) * 670);

    background-color: var(--black);

    border-radius: 10px 10px 0px 0px;

    list-style-type: none;

    justify-content: center;
}

.CostPerCategoryContainer {
    
    display: flex;

    height: calc(var(--hu) * 90);
    width: calc(var(--wu) * 630);

    background-color: var(--green);

    margin-top: 13px;

    border-radius: 10px;

    justify-content: center;
    align-items: center;
}

.CategoryName {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.CategoryCost {
    display: flex;
    width: 45%;
    height: 75%;
    justify-content: center;
    align-items: center;

    background-color: var(--black);
    color: var(--green);

    border-radius: 10px;
}